@font-face {
	font-family: 'princ';
	src: url(../fonts/princ.ttf) format('truetype');
}
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling : touch;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: 'princ';
	overflow-x:hidden; 
	overflow: hidden;
}
body:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url('../img/background5.jpg');
	background-size:cover;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	transform: scale(1.05);
}
a {
	text-decoration: none;
	color: #bbb;
}
a:hover {
	color: #fff;
}

.panel{
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(0,0,0,0);
	top: -150%;
	width: 100%;
	height: 100%;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

#about:target,
#work:target,
#skill:target,
#contact:target{
	top: 0%;
}

.title {
	position: relative;
	cursor: pointer;
	margin: auto;
	margin-top: 10%;
	max-width: 4em;
	font-size: 6em;
	font-weight: lighter;
	color: #fff;
	transition:all .3s ease 0s;
}

.menu_list {
	position: absolute;
	top: 35%;
	width:100%;
	margin: auto;
	transition:all .5s ease 0s;
}
.menu_list > ul {
	width: 30%;
	padding: 0;
	margin: auto;
}
.menu_list > ul > li {
	cursor: pointer;
	color:#bbb;
	list-style: none;
	float: left;
	width: 25%;
	font-size: 1.6em;
	text-align: center;
	letter-spacing: 0;
	position: relative;
	transition:all .3s ease 0s;
}
.menu_list > ul > li::before,
.menu_list > ul > li::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: #fff;
	transition:all .3s;
}
.menu_list > ul > li:hover {
	letter-spacing:0.1em;
	color: #fff;
	font-weight: bold;
}

.icon {
	width: 4em;
	fill:#bbb;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.icon:hover {
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
	fill:#fff;
	cursor: pointer;
}

.icon_list {
	position: absolute;
	top: 45%;
	width:100%;
	margin: auto;
}
.icon_list > ul {
	width: 30%;
	padding: 0;
	margin: auto;
}
.icon_list > ul > li {
	color:#fff;
	list-style: none;
	float: left;
	width: 33.333%;
	text-align: center;
	position: relative;
}

@media screen and (max-width: 640px){
	.title{
		font-size: 5em;
	}
	.menu_list > ul {
		width: 80%;
	}
	.menu_list > ul > li {
		width: 50%;
	}
	.icon_list > ul {
		width: 80%;
	}
}
